.search-area{
display: flex;
flex-direction: column;
margin-top: -60%;
align-items: center;
}


.pdm1-image{

width: 300%;
margin-top: -5%;

}


.getideastext{
 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    font-size:29px;
}