

.homepageimagetwo{
    margin-top: 29%;
    margin-left:0%;
    

}

.homepagetwo{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4rem;
    color:rgb(255, 255, 255);
    font-weight: bolder;
    margin-top: -55%;
    margin-left:15%;

}