.homepageone{
    margin-top: -35%;
    margin-left:25%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4rem;
    color:rgb(255, 255, 255);
    font-weight: bolder;
   
}

.homepageoneimage{
    width:50%;
}