.dash{
    margin-left: -87%;
    margin-top: 10%;
    width:18%;
    position: fixed;
 
}

.dashone{
    margin-left: -87%;
    margin-top: -9%;
    width:18%;
    position: fixed;


}

.hrline{
    margin-top:-9.7%;
    margin-left: 31%;
    width:100%;
    position: fixed;

}

.hrlineone{
    margin-top:-9.7%;
    margin-left: 45%;
    width:100%;
    position: fixed;
    
}

.welcome{
    margin-top: 8%;
    margin-left:-75%;
    transform: translate(-50%, -50%);
    z-index:100;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 26px;
    position: fixed;

}




.addimagebutton{
    margin-top: -7%;
    margin-left: 72%;
    position: fixed;
}



.userimg{

    position: fixed;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border:1px solid white;
    border-radius:50%;
    width:170px;
    height:170px;
    margin-left: -84.5%;
    margin-top: -4%
        


}

.yourdashboard{
    font-size: 25px;
    margin-left: -55%;
    margin-top: -8%;
    position: fixed;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.search-icon{
    margin-left: -63%;
    margin-top: -7.4%;
    size: 22px;
    position: fixed;

}


/* border:1px solid;
border-radius:50%;
width:50px;
height:50px;


position: relative;
width: 100px;
height: 80px;
overflow: hidden;
border-radius: 50%;
width: 15%;
height: 30%;
margin-left: -84.5%;
margin-top:-5%; */



.mainmainimagebox{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 315px;
    flex-wrap: wrap;


  }