/* .imagedisplaycontainer{ */
    /* border: 1px solid rgb(24, 23, 23); */
    /* border-width: thick;
    border-spacing: 0vmax; */
    /* width: 80%;
    margin-top: 5%;
} */

.imagebase {
  
    /* float:left;
      display: flex;
    flex-direction: column-reverse;
    align-items: center; */


/*     
    width: 50%;
    margin-top:12%;
    position: relative;
    background: white;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    color: white;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
    box-shadow: 10px 10px rgba(0,0,0,.25);
    background-color: #ddd; margin: 3rem;
    cursor: pointer; */
   

    /* ************* uncommet the above to get like before changes  */



}


.outerimagedisplaycontainer{
    margin-right: 10px;
    object-fit: contain;
    width: 20%;
    max-height: 100px;
    transition: transform 450ms;
    margin-left: 20px;
    margin-top: 220px;
}




.outerimagedisplaycontainer:hover{
    transform: scale(1.8);
    opacity: 1;
}


.remove{
    margin-top: 2%;
    margin-left: 50%;
   

}

.search-icon{
color: rgb(160, 167, 167);
}

