.logo{
    width:40%;
    height:90%;
    margin-left:10%;
    margin-top:1%;
}

.mainpagebuttons{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem;
   
}

.left > * {
    margin-right: 1.5rem;
}

.right{
    display: flex;
    align-items: center;
}

.right > * {
    margin-left:1.5rem;
}
