body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo-img{
  width: 12%;
  margin-left: 8%;
  margin-top: 1.5%;

}


.sign-in-button{
  color: #fff;
  background-color: black;
  margin-left: 73%;
  padding: 1.3%;
  width:6%;
  height:45px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  display:flex;
  align-items: center;
  margin-top: -70px;
  text-align: center;
  
  
  }
  
  
  .sign-up-button{
  color: #fff;
  background-color: black;
  margin-left: 80%;
  padding: 1.3%;
  width:6%;
  height:45px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  display:flex;
  align-items: center;
  margin-top: -51px;
  text-align: center;
  
  }

  
.signin-box{

  background-color: #5e0c69;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* margin: 0 auto; */
  /* padding: 0 1rem 1rem; */
  align-items: center;
  margin-top: 3%;
  color: rgb(255, 255, 255);
  height:830px;

}

.signup-box{

  background-color: #23a34e;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* margin: 0 auto; */
  /* padding: 0 1rem 1rem; */
  align-items: center;
  margin-top: 3%;
  color: rgb(255, 255, 255);
  height:830px;
}

.sign-in-text{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-feature-settings: "abvf";
  font-size: 35px;
  margin-top:5%;
  color: rgb(255, 255, 255);
}

.sign-up-text{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-feature-settings: "abvf";
  font-size: 35px;
  margin-top:5%;
  color: #f5f4f4;
}

.login-email{
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  width: 300%;
  height: 2.4375rem;
  margin-top:15%;
  color: rgb(255, 255, 255);
  
}

.sign-up-email{
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  width: 300%;
  height: 2.4375rem;
  margin-top:10%;
  color: rgb(255, 255, 255);

}

.email-header{
  font-size: 18px;
  font-weight: bold;

}


.sign-up-header{
  font-size: 18px;
  font-weight: bold;

}

.password-header{
  font-size: 18px;
  font-weight: bold;

}

::placeholder{
  color: rgb(252, 246, 246);
  font-size: 15px;
}

.sign-up-password{
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  width: 300%;
  height: 2.4375rem;
  margin-top:8%;
  color: rgb(255, 255, 255);

}

.login-password{
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  width: 300%;
  height: 2.4375rem;
  margin-top:15%;
  color: rgb(255, 255, 255);
}

.sign-in-page-button{
  background: transparent;
  border: 1px solid #ffffff;
  width:76%;
  height:40px;
  margin-top:15%;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-size: 18px;
  
}

.sign-up-page-button{
  background: transparent;
  border: 1px solid #ffffff;
  width:76%;
  height:40px;
  margin-top:15%;
  color: rgb(255, 254, 254);
  font-weight: bolder;
  font-size: 18px;
  
}


label {
  display: inline-block;
  width: 6em;
  margin-right: .5em;
  padding-top: 1.5em;
  color: rgb(255, 255, 255);
}


.homepage1-img{

  width: 100%;
  margin-top: 3%;

}

.hp-img-1-text{

  font-family: "Quadrat", serif;
  font-size: 1.5rem;
  display: inline-block;
  margin-top: 500px;
  margin-left: -1200px;
  color:rgb(20, 19, 19);
  z-index: 100;
  position: relative;

}

.get-ideas-link{
  color: #fff;
  background-color: black;
  margin-left: 40%;
  padding: 1.3%;
  width:7%;
  height:45px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  display:flex;
  align-items: center;
  margin-top: -90px;
  text-align: 52%;
}

.find-professionals-link{
  color: #fff;
  background-color: black;
  margin-left: 48%;
  padding: 1.3%;
  width: 10%;
  height:45px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  display:flex;
  align-items: center;
  margin-top: -50px;
  text-align: center;

}

.dashboard-link{

  color: #fff;
  background-color: black;
  margin-left: 59%;
  padding: 1.3%;
  width: 7%;
  height:45px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  display:flex;
  align-items: center;
  margin-top: -51px;
  text-align: center;

}

.logout-button{
  color: #fff;
  background-color: black;
  margin-left: 85%;
  padding: 1.3%;
  width:6%;
  height:45px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  display:flex;
  align-items: center;
  margin-top: -50px;
  text-align: center;

}

.dashboard-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13%;
}


